In [2]:
import numpy as np
arr = np.arange(1,37).reshape(6,6)
arr

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

In [3]:
# getting a single complete row

In [11]:
#arr[row,column]
#arr[2:3,0:7]
#arr[2,0:]
#arr[2,:]
arr[2]

array([13, 14, 15, 16, 17, 18])

In [14]:
arr[0:6,4:5]

array([[ 5],
       [11],
       [17],
       [23],
       [29],
       [35]])

In [15]:
#arr[start:end:step,start:end:step]
arr[:,::2]

array([[ 1,  3,  5],
       [ 7,  9, 11],
       [13, 15, 17],
       [19, 21, 23],
       [25, 27, 29],
       [31, 33, 35]])

In [16]:
arr[:,::-2]

array([[ 6,  4,  2],
       [12, 10,  8],
       [18, 16, 14],
       [24, 22, 20],
       [30, 28, 26],
       [36, 34, 32]])

In [17]:
arr[::2,::2]

array([[ 1,  3,  5],
       [13, 15, 17],
       [25, 27, 29]])

In [18]:
arr[::-2,::-2]

array([[36, 34, 32],
       [24, 22, 20],
       [12, 10,  8]])

In [21]:
d3 = np.arange(50).reshape(2,5,5)
d3

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]],

       [[25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]]])

In [22]:
#Indexing pick 17
d3.shape

(2, 5, 5)

In [25]:
#d3[0,3,2]
d3[0][3][1:4]

array([16, 17, 18])

In [27]:
d3[1,:,1:2]

array([[26],
       [31],
       [36],
       [41],
       [46]])

In [45]:
d3[1][:,1:2]

array([[26],
       [31],
       [36],
       [41],
       [46]])

# Boolean Indexing

In [77]:
data  = np.arange(64).reshape(8,8)
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [78]:
bolarr = np.array([False, False, True, True, False, True, True, False],dtype="bool")

In [94]:
bolarr = np.array(["Ali", "Nehal", "Hamza", "Umair", "Ali", "Nehal","Nasir","Nasir"])
cond = bolarr=="Ali"
cond

array([ True, False, False, False,  True, False, False, False])

In [93]:
data[cond]

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [32, 33, 34, 35, 36, 37, 38, 39]])

In [87]:
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [89]:
data[[2,1,6,4,0]]

array([[16, 17, 18, 19, 20, 21, 22, 23],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [ 0,  1,  2,  3,  4,  5,  6,  7]])

In [100]:
cond  = (bolarr=="Ali") | (bolarr=="Nasir")

In [104]:
data[~cond,3:6]

array([[ 3,  4,  5],
       [35, 36, 37],
       [51, 52, 53],
       [59, 60, 61]])

# Fancy Indexing

In [124]:
arr = np.ones((8, 4),dtype = "int")
arr

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [111]:
for i in range(8):
    arr[i]=i
arr

array([[0, 0, 0, 0],
       [1, 1, 1, 1],
       [2, 2, 2, 2],
       [3, 3, 3, 3],
       [4, 4, 4, 4],
       [5, 5, 5, 5],
       [6, 6, 6, 6],
       [7, 7, 7, 7]])

In [112]:
arr[2]

array([2, 2, 2, 2])

In [113]:
arr[[7,3,2,0],1:3]

array([[7, 7],
       [3, 3],
       [2, 2],
       [0, 0]])

In [142]:
arr = np.arange(16).reshape(4,4)

In [143]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [144]:
arr[[2,3,0,1],[2,1,0,3]]
#(2,2),(3,1),(0,0),(1,3)

array([10, 13,  0,  7])

In [147]:
arr[[1, 0, 3, 2]] [0:2, [0, 3, 1, 2]]

# 1[0, 3, 1, 2], 0[0, 3, 1, 2],3[0, 3, 1, 2],2[0, 3, 1, 2]
# (1,0),(1,3),(1,1),(1,2)

array([[4, 7, 5, 6],
       [0, 3, 1, 2]])

In [126]:
arr= np.arange(10).reshape()
arr

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [127]:
arr.T

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [128]:
arr.transpose()

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [129]:
np.transpose(arr)

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [134]:
arr.swapaxes(1,0)

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [135]:
a =[11,22,33,44,44,22,11]

In [136]:
a

[11, 22, 33, 44, 44, 22, 11]

In [137]:
sett=set(a)

In [138]:
sett

{11, 22, 33, 44}

In [139]:
aSet={1,1,1,55,55,88}

In [140]:
aSet

{1, 55, 88}

In [150]:
arr = np.arange(12).reshape(2,3,2)
arr

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]]])

In [158]:
flat=arr.flatten()

In [154]:
ravel = arr.ravel()

In [155]:
ravel[3:6]=1000

In [156]:
ravel

array([   0,    1,    2, 1000, 1000, 1000,    6,    7,    8,    9,   10,
         11])

In [157]:
arr

array([[[   0,    1],
        [   2, 1000],
        [1000, 1000]],

       [[   6,    7],
        [   8,    9],
        [  10,   11]]])

In [159]:
flat[3:5]=444

In [160]:
flat

array([   0,    1,    2,  444,  444, 1000,    6,    7,    8,    9,   10,
         11])

In [161]:
arr

array([[[   0,    1],
        [   2, 1000],
        [1000, 1000]],

       [[   6,    7],
        [   8,    9],
        [  10,   11]]])

In [163]:
arr1 = np.array([[1, 2, 3], [4, 5, 6]])
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [165]:
arr2 = np.array([[7, 8, 9], [10, 11, 12]])
arr2

array([[ 7,  8,  9],
       [10, 11, 12]])

In [166]:
np.concatenate([arr1,arr2])

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [167]:
np.concatenate([arr1,arr2],axis=0)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [168]:
np.concatenate([arr1,arr2],axis=1)

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

In [169]:
np.vstack([arr1,arr2])

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [170]:
np.hstack([arr1,arr2])

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

In [172]:
sp = np.arange(36).reshape(6,6)
sp

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [174]:
np.vsplit(sp,3)

[array([[ 0,  1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10, 11]]), array([[12, 13, 14, 15, 16, 17],
        [18, 19, 20, 21, 22, 23]]), array([[24, 25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34, 35]])]

In [177]:
np.vsplit(sp,2)

[array([[ 0,  1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10, 11],
        [12, 13, 14, 15, 16, 17]]), array([[18, 19, 20, 21, 22, 23],
        [24, 25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34, 35]])]

In [178]:
np.hsplit(sp,3)

[array([[ 0,  1],
        [ 6,  7],
        [12, 13],
        [18, 19],
        [24, 25],
        [30, 31]]), array([[ 2,  3],
        [ 8,  9],
        [14, 15],
        [20, 21],
        [26, 27],
        [32, 33]]), array([[ 4,  5],
        [10, 11],
        [16, 17],
        [22, 23],
        [28, 29],
        [34, 35]])]